/* Navbar  */
.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar ul {
  display: flex;
  list-style: none;
  margin-left: 330px;
}

.navbar li > a {
  display: inline-block;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding-right: 10px;
}

.navbar a:hover {
  color: rgb(255, 196, 0);
}

.Login-btn {
  background-color: rgb(212, 3, 3);
  cursor: pointer;
  border-radius: 5px;
  color: white;
  padding: 6px 15px 6px 15px;
  font-size: 14px;
  border-color: transparent;
  margin-left: 150px;
}

.Search-btn {
  cursor: pointer;
  border: none;
  background: none;
  margin-right: -80px;
  margin-left: -50px;
}

.Cart-btn {
  cursor: pointer;
  border: none;
  background: none;
}

.logo img {
  height: 100px;
  width: 310px;
  margin-left: -1300px;
  margin-top: -20px;
  z-index: 1;
  position: absolute;
}

/* Header */

.header img {
  width: 100%;
  height: 250px;
  position: relative;
  z-index: 1;
}

.card-1 {
  width: 165px;
  height: 90px;
  border: black;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(87, 13, 13, 0.459);
  margin-top: -125px;
  margin-left: 230px;
  z-index: 2;
  position: absolute;
}

.card-1 img {
  width: 70px;
  height: 70px;
  margin-left: -10px;
  margin-top: -12px;
}

.card-2 {
  width: 267px;
  height: 90px;
  border: black;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(87, 13, 13, 0.459);
  margin-top: -125px;
  margin-left: 410px;
  z-index: 2;
  position: absolute;
}

.card-2 img {
  width: 70px;
  height: 70px;
  margin-left: -9px;
  margin-top: -12px;
}

.card-3 {
  width: 150px;
  height: 90px;
  border: black;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(87, 13, 13, 0.459);
  margin-top: -125px;
  margin-left: 690px;
  z-index: 2;
  position: absolute;
}

.card-3 img {
  width: 70px;
  height: 70px;
  margin-left: -9px;
  margin-top: -12px;
}

.card-4 {
  width: 245px;
  height: 90px;
  border: black;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(87, 13, 13, 0.459);
  margin-top: -125px;
  margin-left: 855px;
  z-index: 2;
  position: absolute;
}

.card-4 img {
  width: 70px;
  height: 70px;
  margin-left: -9px;
  margin-top: -12px;
}

.text-container p {
  color: white;
  margin-top: -45px;
  margin-left: 80px;
}

.backBtn1 img {
  width: 30px;
  height: 30px;
}

.backBtn1 {
  cursor: pointer;
  border: none;
  background: none;
  margin-left: 180px;
  margin-top: -90px;
  margin-right: 880px;
  display: absolute;
  vertical-align: top;
}

.backBtn2 img {
  width: 30px;
  height: 30px;
}

.backBtn2 {
  cursor: pointer;
  border: none;
  background: none;
  margin-top: -90px;
  display: absolute;
  vertical-align: top;
}

/* Banner */
.banner img {
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 10px;
  width: 800px;
  height: 100px;
}

.banner h2 {
  margin-left: 100px;
  margin-top: 50px;
}

/* Items */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(2, 1fr); /* 2 rows */
  gap: 10px; /* Adjust the gap between grid items */
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: -50px 50px;
}

.grid-item-img {
  text-align: left;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.grid-item {
  margin-top: -150px;
  padding-bottom: 30px;
  margin-left: 100px;
  margin-bottom: -20px;
}

.grid-item h4 {
  text-align: left;
  margin-top: -100px;
  margin-left: -180px;
}

.grid-item p {
  font-size: 12px;
  text-align: left;
  color: gray;
  font-family: arial;
  padding-right: 10px;
  margin-top: -5px;
}

.grid-item h4 {
  text-align: left;
  margin-top: -10px;
  margin-left: 0px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.order-button {
  text-align: center;
  font-size: 12px;
  font-family: arial;
  background-color: rgb(180, 8, 8);
  color: white;
  border-radius: 6px;
  margin-left: 140px;
  margin-top: -45px;
  padding: 5px 15px;
  cursor: pointer;
  display: flex;
  border: none;
}

.sold-out-button {
  text-align: center;
  font-size: 12px;
  font-family: arial;
  background-color: rgb(83, 81, 81);
  color: white;
  border-radius: 6px;
  margin-left: 140px;
  margin-top: -45px;
  padding: 5px 15px;
  cursor: pointer;
  display: flex;
  border: none;
}

/* Footer */
.More .more-btn {
  background-color: rgb(180, 8, 8);
  color: white;
  font-size: 15px;
  padding: 20px 50px;
  text-align: center;
  margin-left: 38%;
  margin-bottom: 50px;
  margin-top: -20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer .container {
  max-width: 960px;
  margin: 0 auto;
}

.footer .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.footer .col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding: 0 15px;
}

.footer .col-md-4 h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer .col-md-4 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .col-md-4 li {
  margin-bottom: 5px;
}

.footer .col-md-4 a {
  color: #fff;
  text-decoration: none;
}

.footer .copyright {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #555;
}

.footer .copyright p {
  font-size: 14px;
  margin: 0;
}
